## **0. Import Libraries**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## **1. Load Datasets**

In [5]:
# Import Ozone dataset
ozone_df = pd.read_csv("../data/train/raw/daily_ozone_2023.csv")
ozone_df.head()

/var/folders/10/yh5g9ksn5fb_2pzdwtzd2tlh0000gn/T/ipykernel_23153/3157047485.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  ozone_df = pd.read_csv("../data/train/raw/daily_ozone_2023.csv")

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,21,87.0,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,24,87.0,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,35,87.0,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,50,87.0,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24
4,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,44,87.0,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2024-05-24

In [6]:
# Import SO2 dataset
so2_df = pd.read_csv("../data/train/raw/daily_so2_2023.csv")
so2_df.head()

/var/folders/10/yh5g9ksn5fb_2pzdwtzd2tlh0000gn/T/ipykernel_23153/682462969.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  so2_df = pd.read_csv("../data/train/raw/daily_so2_2023.csv")

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
1,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
2,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
3,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,0.0,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
4,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,1 HOUR,...,1.0,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09

In [7]:
# Import CO dataset
co_df = pd.read_csv("../data/train/raw/daily_co_2023.csv")
co_df.head()

/var/folders/10/yh5g9ksn5fb_2pzdwtzd2tlh0000gn/T/ipykernel_23153/3539876285.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  co_df = pd.read_csv("../data/train/raw/daily_co_2023.csv")

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
1,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
2,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
3,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09
4,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,1 HOUR,...,NaN,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-04-09

In [8]:
# Import NO2 dataset
no2_df = pd.read_csv("../data/train/raw/daily_no2_2023.csv")
no2_df.head()

/var/folders/10/yh5g9ksn5fb_2pzdwtzd2tlh0000gn/T/ipykernel_23153/1258597883.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  no2_df = pd.read_csv("../data/train/raw/daily_no2_2023.csv")

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,15,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
1,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,8,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
2,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,8,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
3,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,27,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
4,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),1 HOUR,...,21,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22

In [9]:
# Import PM2.5 FRM/FEM Mass dataset
pm25_df = pd.read_csv("../data/train/raw/daily_pm2.5_mass_2023.csv")
pm25_df.head()

/var/folders/10/yh5g9ksn5fb_2pzdwtzd2tlh0000gn/T/ipykernel_23153/2847464827.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  pm25_df = pd.read_csv("../data/train/raw/daily_pm2.5_mass_2023.csv")

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,86101,1,33.553056,-86.815,WGS84,PM10-2.5 - Local Conditions,1 HOUR,...,NaN,240,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-01-31
1,1,73,23,86101,1,33.553056,-86.815,WGS84,PM10-2.5 - Local Conditions,1 HOUR,...,NaN,240,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-01-31
2,1,73,23,86101,1,33.553056,-86.815,WGS84,PM10-2.5 - Local Conditions,1 HOUR,...,NaN,240,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-01-31
3,1,73,23,86101,1,33.553056,-86.815,WGS84,PM10-2.5 - Local Conditions,1 HOUR,...,NaN,240,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-01-31
4,1,73,23,86101,1,33.553056,-86.815,WGS84,PM10-2.5 - Local Conditions,1 HOUR,...,NaN,240,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-01-31

In [10]:
# Import PM10 Mass dataset
pm10_df = pd.read_csv("../data/train/raw/daily_pm10_mass_2023.csv")
pm10_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,73,23,81102,4,33.553056,-86.815,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,17,239,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
1,1,73,23,81102,4,33.553056,-86.815,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,16,239,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
2,1,73,23,81102,4,33.553056,-86.815,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,12,239,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
3,1,73,23,81102,4,33.553056,-86.815,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,16,239,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22
4,1,73,23,81102,4,33.553056,-86.815,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,13,239,Teledyne API T640X at 16.67 LPM - Broadband sp...,North Birmingham,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,"Birmingham-Hoover, AL",2024-05-22

In [11]:
# Import Winds dataset
wind_df = pd.read_csv("../data/train/raw/daily_WIND_2023.csv")
wind_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,53,1000,61103,1,31.0921,-87.5435,NAD83,Wind Speed - Resultant,1 HOUR,...,NaN,67,Instrumental - RM Young Model 05103,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
1,1,53,1000,61103,1,31.0921,-87.5435,NAD83,Wind Speed - Resultant,1 HOUR,...,NaN,67,Instrumental - RM Young Model 05103,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
2,1,53,1000,61103,1,31.0921,-87.5435,NAD83,Wind Speed - Resultant,1 HOUR,...,NaN,67,Instrumental - RM Young Model 05103,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
3,1,53,1000,61103,1,31.0921,-87.5435,NAD83,Wind Speed - Resultant,1 HOUR,...,NaN,67,Instrumental - RM Young Model 05103,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
4,1,53,1000,61103,1,31.0921,-87.5435,NAD83,Wind Speed - Resultant,1 HOUR,...,NaN,67,Instrumental - RM Young Model 05103,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19

In [12]:
# Import Temperature dataset
temp_df = pd.read_csv("../data/train/raw/daily_TEMP_2023.csv")
temp_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,53,1000,62101,1,31.0921,-87.5435,NAD83,Outdoor Temperature,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
1,1,53,1000,62101,1,31.0921,-87.5435,NAD83,Outdoor Temperature,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
2,1,53,1000,62101,1,31.0921,-87.5435,NAD83,Outdoor Temperature,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
3,1,53,1000,62101,1,31.0921,-87.5435,NAD83,Outdoor Temperature,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
4,1,53,1000,62101,1,31.0921,-87.5435,NAD83,Outdoor Temperature,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19

In [13]:
# Import Barometric Pressure dataset
pressure_df = pd.read_csv("../data/train/raw/daily_PRESS_2023.csv")
pressure_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,53,1000,64101,1,31.0921,-87.5435,NAD83,Barometric pressure,1 HOUR,...,NaN,60,Instrumental - Vaisala 555B Pressure Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
1,1,53,1000,64101,1,31.0921,-87.5435,NAD83,Barometric pressure,1 HOUR,...,NaN,60,Instrumental - Vaisala 555B Pressure Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
2,1,53,1000,64101,1,31.0921,-87.5435,NAD83,Barometric pressure,1 HOUR,...,NaN,60,Instrumental - Vaisala 555B Pressure Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
3,1,53,1000,64101,1,31.0921,-87.5435,NAD83,Barometric pressure,1 HOUR,...,NaN,60,Instrumental - Vaisala 555B Pressure Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
4,1,53,1000,64101,1,31.0921,-87.5435,NAD83,Barometric pressure,1 HOUR,...,NaN,60,Instrumental - Vaisala 555B Pressure Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19

In [14]:
# Import RH and Dewpoint dataset
rhdp_df = pd.read_csv("../data/train/raw/daily_RH_DP_2023.csv")
rhdp_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,53,1000,62201,1,31.0921,-87.5435,NAD83,Relative Humidity,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
1,1,53,1000,62201,1,31.0921,-87.5435,NAD83,Relative Humidity,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
2,1,53,1000,62201,1,31.0921,-87.5435,NAD83,Relative Humidity,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
3,1,53,1000,62201,1,31.0921,-87.5435,NAD83,Relative Humidity,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19
4,1,53,1000,62201,1,31.0921,-87.5435,NAD83,Relative Humidity,1 HOUR,...,NaN,60,Instrumental - Vaisala 435C RH/AT Sensor,PCI MET1,Jack Springs Rd,Alabama,Escambia,Not in a city,NaN,2024-01-19

In [15]:
# Import feature output dataset
aqi_county = pd.read_csv("../data/train/raw/daily_aqi_by_county_2023.csv")
aqi_county.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2023-01-10,47,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2023-01-11,38,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2023-01-12,30,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2023-01-13,24,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2023-01-14,27,Good,PM2.5,01-003-0010,1

## **2. Data Transformation**

### **a. Criteria Gases**

In [16]:
# Rename 'Arithmetic Mean' column in each dataframe for clarity
ozone_df.rename(columns={'Arithmetic Mean': 'Ozone Mean'}, inplace=True)
so2_df.rename(columns={'Arithmetic Mean': 'SO2 Mean'}, inplace=True)
co_df.rename(columns={'Arithmetic Mean': 'CO Mean'}, inplace=True)
no2_df.rename(columns={'Arithmetic Mean': 'NO2 Mean'}, inplace=True)

In [38]:
# Define commons column for merging
common_columns = [
    'State Code', 'County Code', 'Site Num', 'Date Local',
    'Latitude', 'Longitude', 'State Name', 'County Name', 'City Name'
]

In [39]:
# Merge the four dataframes on common columns, using suffixes to avoid column conflicts
gases_df = ozone_df.merge(
    so2_df, on=common_columns, how='inner', suffixes=('_ozone', '_so2')
).merge(
    co_df, on=common_columns, how='inner', suffixes=('', '_co')
).merge(
    no2_df, on=common_columns, how='inner', suffixes=('', '_no2')
)

In [40]:
# Select only the common columns and the renamed 'Arithmetic Mean' columns
gases_df = gases_df[common_columns + ['Ozone Mean', 'SO2 Mean', 'CO Mean', 'NO2 Mean']]
gases_df.head(20)

,State Code,County Code,Site Num,Date Local,Latitude,Longitude,State Name,County Name,City Name,Ozone Mean,SO2 Mean,CO Mean,NO2 Mean
0,1,73,23,2023-01-01,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.031588,-0.087500,0.154167,5.237500
1,1,73,23,2023-01-01,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.031588,-0.087500,0.126316,5.237500
2,1,73,23,2023-01-01,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.031588,-0.062500,0.154167,5.237500
3,1,73,23,2023-01-01,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.031588,-0.062500,0.126316,5.237500
4,1,73,23,2023-01-02,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.019824,0.329167,0.120833,4.975000
5,1,73,23,2023-01-02,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.019824,0.329167,0.137500,4.975000
6,1,73,23,2023-01-02,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.019824,0.275000,0.120833,4.975000
7,1,73,23,2023-01-02,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.019824,0.275000,0.137500,4.975000
8,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.021471,0.000000,0.116667,5.462500
9,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.021471,0.000000,0.112500,5.462500
10,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.021471,0.012500,0.116667,5.462500
11,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.021471,0.012500,0.112500,5.462500
12,1,73,23,2023-01-04,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.017235,-0.016667,0.229167,10.662500
13,1,73,23,2023-01-04,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.017235,-0.016667,0.150000,10.662500
14,1,73,23,2023-01-04,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.017235,0.000000,0.229167,10.662500
15,1,73,23,2023-01-04,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.017235,0.000000,0.150000,10.662500
16,1,73,23,2023-01-05,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.030412,0.330769,0.276923,12.245455
17,1,73,23,2023-01-05,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.030412,0.330769,0.460000,12.245455
18,1,73,23,2023-01-05,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.030412,0.233333,0.276923,12.245455
19,1,73,23,2023-01-05,33.553056,-86.815,Alabama,Jefferson,Birmingham,0.030412,0.233333,0.460000,12.245455

In [30]:
# Save to a CSV file for storage
gases_df.to_csv('../data/train/merged/daily_criteria_gases_2023.csv', index=False)

### **b. Particulates**

In [33]:
# Rename 'Arithmetic Mean' column in each dataframe for clarity
pm25_df.rename(columns={'Arithmetic Mean': 'PM2.5 Mean'}, inplace=True)
pm10_df.rename(columns={'Arithmetic Mean': 'PM10 Mean'}, inplace=True)

In [41]:
# Merge the two dataframes on common columns, using suffixes to avoid column conflicts
particulates_df = pm25_df.merge(
    pm10_df, on=common_columns, how='inner', suffixes=('_pm25', '_pm10')
)

In [43]:
# Select only the common columns and the renamed 'Arithmetic Mean' columns
particulates_df = particulates_df[common_columns + ['PM2.5 Mean', 'PM10 Mean']]
particulates_df.head(20)

,State Code,County Code,Site Num,Date Local,Latitude,Longitude,State Name,County Name,City Name,PM2.5 Mean,PM10 Mean
0,1,73,23,2023-01-01,33.553056,-86.815,Alabama,Jefferson,Birmingham,5.666667,18
1,1,73,23,2023-01-02,33.553056,-86.815,Alabama,Jefferson,Birmingham,7.341667,17
2,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,6.279167,13
3,1,73,23,2023-01-03,33.553056,-86.815,Alabama,Jefferson,Birmingham,4.300000,13
4,1,73,23,2023-01-04,33.553056,-86.815,Alabama,Jefferson,Birmingham,11.704348,17
5,1,73,23,2023-01-05,33.553056,-86.815,Alabama,Jefferson,Birmingham,9.510000,14
6,1,73,23,2023-01-06,33.553056,-86.815,Alabama,Jefferson,Birmingham,12.991667,20
7,1,73,23,2023-01-06,33.553056,-86.815,Alabama,Jefferson,Birmingham,10.500000,20
8,1,73,23,2023-01-07,33.553056,-86.815,Alabama,Jefferson,Birmingham,14.670833,28
9,1,73,23,2023-01-08,33.553056,-86.815,Alabama,Jefferson,Birmingham,5.350000,13
10,1,73,23,2023-01-09,33.553056,-86.815,Alabama,Jefferson,Birmingham,7.079167,20
11,1,73,23,2023-01-09,33.553056,-86.815,Alabama,Jefferson,Birmingham,4.100000,20
12,1,73,23,2023-01-10,33.553056,-86.815,Alabama,Jefferson,Birmingham,12.895833,27
13,1,73,23,2023-01-11,33.553056,-86.815,Alabama,Jefferson,Birmingham,8.325000,22
14,1,73,23,2023-01-12,33.553056,-86.815,Alabama,Jefferson,Birmingham,16.479167,25
15,1,73,23,2023-01-12,33.553056,-86.815,Alabama,Jefferson,Birmingham,12.600000,25
16,1,73,23,2023-01-13,33.553056,-86.815,Alabama,Jefferson,Birmingham,3.400000,11
17,1,73,23,2023-01-14,33.553056,-86.815,Alabama,Jefferson,Birmingham,4.241667,14
18,1,73,23,2023-01-15,33.553056,-86.815,Alabama,Jefferson,Birmingham,6.275000,18
19,1,73,23,2023-01-15,33.553056,-86.815,Alabama,Jefferson,Birmingham,3.900000,18

In [45]:
# Save to a CSV file for storage
particulates_df.to_csv('../data/train/merged/daily_particulates_2023.csv', index=False)

### **c. Meteorological**

In [48]:
# Rename 'Arithmetic Mean' column in each dataframe for clarity
wind_df.rename(columns={'Arithmetic Mean': 'Wind Mean'}, inplace=True)
temp_df.rename(columns={'Arithmetic Mean': 'Temperature Mean'}, inplace=True)
pressure_df.rename(columns={'Arithmetic Mean': 'Pressure Mean'}, inplace=True)
rhdp_df.rename(columns={'Arithmetic Mean': 'RH and Dewpoint Mean'}, inplace=True)

In [49]:
# Merge the four dataframes on common columns, using suffixes to avoid column conflicts
meteorological_df = wind_df.merge(
    temp_df, on=common_columns, how='inner', suffixes=('_wind', '_temp')
).merge(
    pressure_df, on=common_columns, how='inner', suffixes=('', '_pressure')
).merge(
    rhdp_df, on=common_columns, how='inner', suffixes=('', 'rhdp')
)

In [50]:
# Select only the common columns and the renamed 'Arithmetic Mean' columns
meteorological_df = meteorological_df[common_columns + ['Wind Mean', 'Temperature Mean', 'Pressure Mean', 'RH and Dewpoint Mean']]
meteorological_df.head(20)

,State Code,County Code,Site Num,Date Local,Latitude,Longitude,State Name,County Name,City Name,Wind Mean,Temperature Mean,Pressure Mean,RH and Dewpoint Mean
0,1,53,1000,2023-01-01,31.0921,-87.5435,Alabama,Escambia,Not in a city,1.970833,63.320833,1008.641667,80.345833
1,1,53,1000,2023-01-01,31.0921,-87.5435,Alabama,Escambia,Not in a city,117.375000,63.320833,1008.641667,80.345833
2,1,53,1000,2023-01-02,31.0921,-87.5435,Alabama,Escambia,Not in a city,4.904167,70.845833,1008.737500,87.804167
3,1,53,1000,2023-01-02,31.0921,-87.5435,Alabama,Escambia,Not in a city,64.125000,70.845833,1008.737500,87.804167
4,1,53,1000,2023-01-03,31.0921,-87.5435,Alabama,Escambia,Not in a city,7.287500,73.437500,1003.883333,85.512500
5,1,53,1000,2023-01-03,31.0921,-87.5435,Alabama,Escambia,Not in a city,90.625000,73.437500,1003.883333,85.512500
6,1,53,1000,2023-01-04,31.0921,-87.5435,Alabama,Escambia,Not in a city,4.187500,63.950000,1004.900000,74.395833
7,1,53,1000,2023-01-04,31.0921,-87.5435,Alabama,Escambia,Not in a city,163.500000,63.950000,1004.900000,74.395833
8,1,53,1000,2023-01-05,31.0921,-87.5435,Alabama,Escambia,Not in a city,3.537500,52.316667,1011.841667,71.379167
9,1,53,1000,2023-01-05,31.0921,-87.5435,Alabama,Escambia,Not in a city,182.708333,52.316667,1011.841667,71.379167
10,1,53,1000,2023-01-06,31.0921,-87.5435,Alabama,Escambia,Not in a city,1.558333,47.466667,1015.037500,71.208333
11,1,53,1000,2023-01-06,31.0921,-87.5435,Alabama,Escambia,Not in a city,202.291667,47.466667,1015.037500,71.208333
12,1,53,1000,2023-01-07,31.0921,-87.5435,Alabama,Escambia,Not in a city,2.441667,54.537500,1014.395833,74.366667
13,1,53,1000,2023-01-07,31.0921,-87.5435,Alabama,Escambia,Not in a city,99.416667,54.537500,1014.395833,74.366667
14,1,53,1000,2023-01-08,31.0921,-87.5435,Alabama,Escambia,Not in a city,2.687500,58.141667,1011.891667,86.362500
15,1,53,1000,2023-01-08,31.0921,-87.5435,Alabama,Escambia,Not in a city,143.041667,58.141667,1011.891667,86.362500
16,1,53,1000,2023-01-09,31.0921,-87.5435,Alabama,Escambia,Not in a city,4.112500,51.741667,1012.108333,76.570833
17,1,53,1000,2023-01-09,31.0921,-87.5435,Alabama,Escambia,Not in a city,234.375000,51.741667,1012.108333,76.570833
18,1,53,1000,2023-01-10,31.0921,-87.5435,Alabama,Escambia,Not in a city,1.962500,50.558333,1009.591667,70.450000
19,1,53,1000,2023-01-10,31.0921,-87.5435,Alabama,Escambia,Not in a city,110.625000,50.558333,1009.591667,70.450000

In [52]:
# Save to a CSV file for storage
meteorological_df.to_csv('../data/train/merged/daily_meteorological_2023.csv', index=False)